

.about_me {

    padding-top: 64px;
    overflow: hidden;
}

.profile-pic {
    max-height: calc(100vh - 64px);
    overflow: hidden;
    display: flex;
    justify-content: center;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color:black ;
    overflow: hidden;
}


.css-11b3ww9-MuiPaper-root-MuiAppBar-root {
    background-color: #9999ce;
}
.about_me {
    /* background-color: #fff; */
    border-radius: 15px;
    padding: 100px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
    color: #fff;
}


.profile-pic img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin-bottom: 20px;
   
}





